/* font-family: 'Jersey 15', sans-serif; For Jersey 15 font
font-family: 'Merriweather', serif; For Merriweather font */
/* Custom Normalization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    list-style: none;
}

.logo{
    font-family: 'Jersey 15', sans-serif;
}